{% extends 'users/users-base.html' %}

{% block title %}
  Users list
{% endblock %}

{% block body %}
  <h1 class="text-primary"> Users:</h1>
  <div>
    <ul class="list-group">
      {% for user in users %}
        <li class="list-group-item">
          <a
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="{{ user.short_description }}"
            class="user slide-in text-decoration-none"
            href="{{ url_for('users_app.details', user_id=user.id) }}">
            {{ user.name }}
          </a>
          <a class="btn btn-sm btn-danger float-end"
             href="{{ url_for('users_app.delete', user_id=user.id) }}">
            Delete
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <a href="{{ url_for('users_app.create') }}">Create a new user</a>
  </div>

{% endblock %}
